.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--clr-yellow);
}

.link {
  color: var(--clr-background);
  font-size: 1rem;
}

.link:hover {
  color: #0072b1;
}

.icon {
  padding: 0.5rem;
  width: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: var(--clr-background);
  border: 5px solid var(--clr-yellow);
  padding: 0.5rem;
  align-items: center;
  margin: 1rem;
  width: 90%;
}

/*MEDIA QUERIES*/

/*Extra Small, Mobile*/
@media (min-width: 500px) {
  .icon {
    padding: 0;
  }
  .contact {
    width: 80%;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    justify-content: center;
    width: 60%;
  }
  .link {
    font-size: 1.25rem;
    padding: 1rem;
  }
}
