body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FBD784;
    font-family: 'Alice', serif;
}

.container {
    background: linear-gradient( rgba(54, 59, 66, 1), rgba(207, 43, 43, 0.2) ),  url('../public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border: 1px solid green;
}