* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FBD784;
    font-family: 'Alice', serif;
}


/*Extra Small, Mobile*/
@media (min-width: 500px) {

}

/* Small Devices, Tablets */
@media (min-width: 768px) {
    
}

/* Medium Devices, Desktops */
@media (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {

}