.nav {
    height: 10vh;
    background: rgb(54, 59, 66);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

.nav ul {
    list-style: none;
}
  
.navItem {
    color: #FBD784;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 1rem;
  }

.navItem a:hover {
      border-bottom: 1px solid #FBD784;
  } 
  
.navMenu {
    position: fixed;
    right: 0;
    top: 10vh;
    flex-direction: column;
    background-color: rgb(54, 59, 66);
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
    padding-bottom: 10vh;
  }

.hamburger, .active {
    display: block;
    cursor: pointer;
    margin: 1.5rem;
  }
  
.bar {
    display: block;
    width: 50px;
    height: 6px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FBD784;
  }
  
.active .bar:nth-child(2) {
    opacity: 0;
  }
  
.active .bar:nth-child(1) {
   -webkit-transform: translateY(16px) rotate(45deg);
    transform: translateY(16px) rotate(45deg);
  }
  
.active .bar:nth-child(3) {
    -webkit-transform: translateY(-16px) rotate(-45deg);
    transform: translateY(-16px) rotate(-45deg);
  }

.logo {
  background-color: #fff;
  margin: 1rem;
}

.logo:hover {
  opacity: 0.8;
}

.socMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.socMedia * {
  margin: 1rem;
}

/* Small Devices, Tablets */
@media (min-width: 768px) {
    .nav {
        height: 14vh;
    }

    .navMenu {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        z-index: 15;
        left: 0;
        top: 0;
        padding-bottom: 0;
    }
    
    .navMenu li {
      margin: 0;
    }
    
    .hamburger, .active  {
        display: none;
      }
 
}
