.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin: 1rem 0;
  color: var(--clr-background);
  text-align: center;
}

.card * {
  padding: 1rem;
}

.card a {
  color: var(--clr-background);
  border: 1px solid var(--clr-background);
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.card a:hover {
  background-color: var(--clr-background);
}

/*Card Colour 1*/
.card:nth-of-type(4n + 1) {
  background-color: #c4cad3;
}

.card:nth-of-type(4n + 1) a:hover {
  color: #c4cad3;
}

/*Card Color 2*/
.card:nth-of-type(4n + 2) {
  background-color: #d3fbd8;
}
.card:nth-of-type(4n + 2) a:hover {
  color: #d3fbd8;
}

/*Card Colour 3*/

.card:nth-of-type(4n + 3) {
  background-color: #c4cad3;
}

.card:nth-of-type(4n + 3) a:hover {
  color: #c4cad3;
}

/*Card Colour 4*/

.card:nth-of-type(4n + 4) {
  background-color: #d8f3ff;
}
.card:nth-of-type(4n + 4) a:hover {
  color: #d8f3ff;
}


.cardTitle {
  font-size: 1.8rem;
}


.buttons {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 90vw;
  padding: 0;
}

/*MEDIA QUERIES*/

/*Extra Small, Mobile*/
@media (min-width: 500px) {
  .buttons {
    flex-direction: row;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) {
  .buttons {
    flex-direction: column;
  }
  .imageContainer {
    width: 40vw;
  }
}

/* Medium Devices, Desktops */
@media (min-width: 992px) {
  .imageContainer {
    width: 25vw;
  }
}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  .buttons {
    flex-direction: row;
  }
}
